{% extends "base/base.html" %}

{% block title %}NEW TASK{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            {{ form }}
            <button style="margin: 2%;" type="submit" class="btn btn-outline-success form-control">New Task</button>
            <br>
            <a href="{% url 'todo:list_task' %}" class="btn btn-outline-warning form-control">Cancel</a>
    </form>
{% endblock content %}