{% extends "base/base.html" %}

{% block title %}DELETE TASK{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            <h3>DELETE TASK CONFITMATION: "{{ object }}"?</h3>
            
            <button type="submit" class="btn btn-outline-danger">Delete task</button>
            <a href="{% url 'core:list_gg' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}