{% extends "base/base.html" %}

{% block title %}LIST TASK{% endblock title %}

{% block content %}
    <a href="{% url 'todo:create_task' %}" class="btn btn-outline-success form-control">New task</a>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>TITLE</th>
            <th>USER</th>
            <th>TIMESTAMP</th>
            <th>STATE</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for tk in tasks %}
                <tr>
                    <td>{{ tk.id }}</td>
                    <td>{{ tk.title }}</td>
                    <td>{{ tk.user }}</td>
                    <td>{{ tk.timestamp }}</td>
                    <td>{{ tk.state }}</td>
                    <td><a href="{% url 'todo:detail_task' tk.pk %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'todo:update_task' tk.pk %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'todo:delete_task' tk.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
    